/* @font-face {
  font-family: '';
  src: url('/src/SpaceGrotesk-VariableFont_wght.ttf') format('ttf'),
     
  font-weight: 300;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start at the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

.marquee-container {
  display: inline-block;
  position: relative;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides the text overflow */
  width: 100px;
}

.marquee-container::after {
  content: ''; /* To hide the overflow smoothly */
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; /* Adjust width for fade-out */
  height: 100%;
  background: linear-gradient(to right, transparent, white); /* Gradient to fade out the text */
}

.marquee-container > * {
  display: inline-block;
  animation: marquee 7s linear infinite; /* Adjust the duration as needed */
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Shortens long text with an ellipsis */
}
