/* @font-face {
  font-family: '';
  src: url('/src/SpaceGrotesk-VariableFont_wght.ttf') format('ttf'),
     
  font-weight: 300;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




/* @keyframes marquee {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.marquee-container {
  display: inline-block;
  position: relative;
  white-space: nowrap; 
  overflow: hidden; 
  width: 100px;
}

.marquee-container::after {
  content: ''; 
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; 
  height: 100%;
  background: linear-gradient(to right, transparent, white); 
}

.marquee-container > * {
  display: inline-block;
  animation: marquee 7s linear infinite; 
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
} */
